<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Innovision is the techno-managerial festival of NSIT.">
    <meta name="author" content="Rohit Gohri">

    <title>Innovision, NSIT</title>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="../static/fonts/material-icons/material-icons.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <!--Theme CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/inno.css"/>

</head>
<body>
    <nav class="z-depth-0 amber accent-4" >
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo center">INNOVISION</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="sass.html">Home</a></li>
                <li><a href="badges.html">Events</a></li>
                <li><a href="collapsible.html">About</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <!--Slider-->
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <footer class="page-footer amber accent-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Follow Us On:</h5>
                    <div class="row white-text">
                        <div class="col s4">
                            FB
                        </div>
                        <div class="col s4">
                            Twitter
                        </div>
                        <div class="col s4">
                            Google+
                        </div>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Site</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Events</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Our Sponsors</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Innovision, NSIT
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>
    <!-- Initialize Materialize -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').slider({full_width: true});
        });
    </script>
</body>
</html>