{% extends 'base/base.html' %}
{% load material_form %}
{% load staticfiles %}
{% block pagetitle %} Innovision | {{event.name}} {% endblock %}
{% block content %}
<img src="{{ event.photo.url }}" >
<div id="up" class="{{event.id}}"><i class="fa fa-thumbs-o-up fa-2x"></i></div>
{% endblock %}
<!--{% block scripts %}
<script src="{% static 'event/js/regiter.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        Ready.init();
    });
</script>
{% endblock %}-->
